|<?xml version="1.0" encoding="UTF-8"?>
soap:Envelope(xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://magfa.com/soap/SOAPSmsQueue" xmlns:intf="http://magfa.com/soap/SOAPSmsQueue" xmlns:tns1="urn:SOAPSmsQueue")
  soap:Body
    impl:getCredit
      domain.
        #{domainName}
 
//- <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:impl="http://magfa.com/soap/SOAPSmsQueue" xmlns:intf="http://magfa.com/soap/SOAPSmsQueue" xmlns:tns1="urn:SOAPSmsQueue">
//-     <soap:Header></soap:Header>
//-     <soap:Body>
//-         <impl:getCredit>
//-             <domain>magfa</domain>
//-         </impl:getCredit>
//-     </soap:Body>
//- </soap:Envelope>